{% extends "layout.njk" %}

{% block head %}

<title>sobre - Desafio 2-2: HTML</title>

{% endblock %}

{% block content %}


    <div id="cont">
    <img src="rocketseat.png">    
    <h1> Rocketseat </h1>
    </div>

        </header>

        <div id="cont"> 
            <h2> "Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível 🚀" </h2>
            <ul> principais tecnologias em programação encontradas aqui:</ul>  
            <li>Javascript</li>
            <li>Javascript ES6+</li>
            <li>NodeJS</li>
            <li>ReactJS</li>
            <li>React Native</li>
        </div>
        <div id="links-redes" class="links"> 
            <a href="https://github.com/Rocketseat"> github</a>
            <a href="https://www.facebook.com/rocketseat//">facebook </a>
            <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br">instagram </a>

       </div>

    {% endblock %}