{% extends "layout.njk" %}

{% block head %}

<title>courses - Desafio 2-2: HTML</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">

{% endblock %}

{% block content %}


       <div class="titulo">
       <a>cursos</a>
     </div>

   <section class="cards">
   <div class="card" id="starter" >
    <div class="card-img-cont">
    <img src="starter.svg">
    </div>

    <div class="card-cont">
        <p> Starter</p>
    </div>

    <div class="card-info">
        <p>5 modulos</p>
        <p class="card-price">FREE</p>
    </div>
    </div>

    <div class="card" id="launchbase">
        <div class="card-img-cont">
        <img src="launchbase.svg">
        </div>
    
        <div class="card-cont">
            <p> Launchbase</p>
        </div>
    
        <div class="card-info">
            <p>5 modulos</p>
            <p class="card-price">FREE</p>
        </div>
        </div>

        <div class="card" id="gostack">
            <div class="card-img-cont">
            <img src="gostack.svg">
            </div>
        
            <div class="card-cont">
                <p> Gostack</p>
            </div>
        
            <div class="card-info">
                <p>5 modulos</p>
                <p class="card-price">FREE</p>
            </div>
            </div>

    </section>

    <div class="modal-overlay ">
        <div class="modal">
        <a class="close-modal"> 
         <i class="material-icons">close</i>
        </a>
       <div class="modal-cont">
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
    </div>

    <script src="scripts.js "></script>
      
  {% endblock %}
