 <link rel="stylesheet" href="style.css">

{% block head %}

<title>error - 404</title>

{% endblock %}

{% block content %}


    <div id="cont">   
    <h1> error - 404</h1>
    </div>

        </header>

        <div id="cont"> 
            <h2> algo está errado pois não temos essa rota da pagina. tente novamente </h2>
            
        </div>
      

    {% endblock %}